Beste {$user['voornaam']} {$user['achternaam']} ({$user['naamOrganisatie']}), <br><br>

Sinds 2014 hebben intermediairs zich aangemeld bij gezinneninarmoede.nl en is er een bestand opgebouwd met ca. 7000 intermediairs. <br>
Uw unieke referentiecode is gekoppeld aan een persoonlijk werk emailadres. <br>
Om het bestand up to date te houden, doen wij jaarlijks een controle.<br>
U staat bij ons aangemeld als intermediair en voordat wij <br>
weer vol van start gaan met de aanmelding voor 2020, willen wij u vragen om via onderstaande link aan te geven of u ACTIEF als intermediair betrokken wil blijven.<br>
Horen wij niets dan zal uw account op zelf afgemeld worden gezet.<br><br>

localhost:8000/intermediaircheckform/?id={$user['userid']}&token={$token}<br><br>

Wij zijn alweer gestart met de aanmeldprocedure voor 2020, want dit jaar willen wij weer meer pakketten versturen. <br>
Mocht u gezinnen hebben die in aanmerking komen, laat ze zich dan zelf aanmelden met uw unieke referentiecode.<br>
Mocht u collega’s hebben die geen eigen code hebben, vraag hen zichzelf aanmelden. <br>
Het is namelijk niet de bedoeling dat codes door anderen dan de geregistreerde persoon, gebruikt worden.<br>
Alvast heel veel dank voor uw medewerking.<br><br>

Hartelijke groet,<br>
namens LINDA.foundation en Gezinneninarmoede<br><br>

Monique Stroomberg